<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>status</th>
        <th>Action</th>
      </tr>
      <% dtProject.forEach(data=>{ %>
        <tr>
          <td><%= data.id %></td>
          <td><%= data.name %></td>
          <td><%= data.status %></td>
          <td>
            <a href="/project/edit/<%= data.id %>">edit</a>
          </td>
          <td>
            <a href="/project/delete/<%= data.id %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
